<div class = "bootstrap-wrapper" background-color: red>
  <div class = "container">
    <div class = "row mt20">
      <div class = "col-md-6 offset-md-3">
        
          <div class = "container text-center">
            <img src="../../../assets/login.png" width = "100" height = "100">
          </div>

          <h1 class = "text-center">Inicio de sesión</h1>
          <form (ngSubmit) = "formSubmit()">
            <mat-form-field class = "full-width"  appearance = "outline">
              <mat-label>Nombre de usuario</mat-label>
              <input [(ngModel)] = "loginData.email" name = "username" required  matInput placeholder="Enter your user name">
              <mat-hint>El nombre de usuario debe ser valido</mat-hint>
            </mat-form-field>
            <mat-form-field class="full-width"  appearance = "outline">
              <mat-label>Contraseña</mat-label>
              <input  required [(ngModel)] = "loginData.password" matInput [type]="showPassword ? 'text' : 'password'" name="password" placeholder="Enter your password">
              <mat-icon matSuffix (click)="togglePasswordVisibility()" name = "password">
                {{showPassword?'visibility_off':'visibility'}}
            </mat-icon>
              <mat-hint>La contraseña debe ser valida</mat-hint>
            </mat-form-field>

           
            <div class ="container text-left">
              <button type="button" class="btn btn-link" Reset Password (click)="ResetPassword()">Reset Password</button>
            </div>
            <div class = "container text-center">
              <button type = "submit" mat-raised-button color="primary">Login</button>
              <button type="reset" style = "margin-left: 20px;" mat-raised-button color="primary">Clear</button>
              <button type="button" style = "margin-left: 20px;" mat-raised-button color="primary" (click)="goToRegister()" clickable>Register</button>
              
 <!--            <button type="button" (myClick)="enviaMensaje()" clickable>pulsar</button>
              <button type="button" (click)="enviaMensaje()"></button>   -->
            </div>
          </form>
       
      </div>
    </div>
  </div>
</div>

