.example-spacer{
    flex: 1 1 auto;
  }

  @media (max-width: 576px) { 
    .navbar-brand{
      display:none;
    }
    }

.bg-agilent{
  background-color: #0085D5;
  border-style: double none none none;
  border-color: #0085E0
}

.prueba{
  text-decoration: underline;
 
  
}