<nav class="navbar navbar-expand-sm  bg-agilent" data-bs-theme="dark" >
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="'/'">
      <img src = "../../../assets/5977B_Q_24.svg" width = "50" height = "50" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="'/'">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/login'" aligne >Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/sigup'" aligne >sigup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/version'">Version</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/main-user'">Test API</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/enterprises'">Enterprises</a>
        </li>
        <li class="nav-item text-end">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled {{ message }}</a>
        </li>
      </ul>
      
    </div>

  </div>
  
</nav>