<h1> {{enterprise.name}}</h1>
<h2>List of Passwords</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>user</th>
            <th>password</th>
            <th>notes</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let keypass  of keypasses">
            <td>{{ keypass.id }}</td>
            <td>{{ keypass.username }}</td>
            <td>{{ keypass.password }}</td>
            <td>{{ keypass.notes }}</td>
        </tr>
    </tbody>
</table>
