<h1 class="text-center"> {{enterprise.name}}</h1>
<h2 class="text-center">List of Passwords</h2>
<div class="container-sm">
    <div class="row">
        

        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center">user</th>
                    <th class="text-center">password</th>
                    <th class="text-center">notes</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let keypass  of keypasses">
                    <td>{{ keypass.username }}</td>
                    <td>{{ keypass.password }}</td>
                    <td>{{ keypass.notes }}</td>
                    <td>
        <!--               <a href="#" [routerLink]="['/enterprises/',enterprise.id,'createkeypass',keypass.id]" class="btn btn-info">Edit</a>   -->
                    <a href="#" [routerLink]="['/enterprises/',enterprise.id,'createkeypass',keypass.id]" class="patata"><i class="material-icons" data-toggle="tooltip" title="edit Company">edit </i></a>
                    <a class="delete"(click)="deleteKeypass(keypass)"><i class="material-icons" data-toggle="tooltip" title="Delete Keypass">delete_forever </i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>
