<div class = "bootstrap-wrapper">
    <div class = "container">
      <div class = "row" style = "margin-top : 20px;">
        <div class = "col-md-6 offset-md-3">
          <div class="container text-center">
            <img src="../../../assets/Sequence_Open_24.svg" width = "100" height = "100">
          </div>
  
          <h1 class="text-center">Company  {{ enterpriseId}}</h1>
          
  
       <form (ngSubmit) = "formSubmit()">    
            
            <mat-form-field class="full-width"  appearance = "outline">
              <mat-label>User Name</mat-label>
              <input required [(ngModel)] = "keypass.username" name = "userName" matInput placeholder="user name:">
            </mat-form-field>
  
            <mat-form-field class="full-width"  appearance = "outline">
              <mat-label>Password</mat-label>
              <input  [(ngModel)] = "keypass.password" name = "password" matInput placeholder="password:">

            </mat-form-field>
            <mat-form-field class="full-width"  appearance = "outline">
              <mat-label>User Type</mat-label>
              <select matNativeControl [(ngModel)] = "keypass.usertype" name="user_type">
                <option value="Openlab_Admin">Openlab admin</option>
                <option value="Shared_Services">Shared Services</option>
                <option value="Content_Management">Content Management</option>
                <option value="Windows_Local">Windows Local</option>
                <option value="DataBase_SA">Database SA</option>
                <option value="Data_Repository">Data Repository</option>
                <option value="ACE">ACE</option>
                <option value="Service">Service</option>
              </select>

            </mat-form-field>
            <p>Selected: {{ keypass.usertype }}</p>
            <mat-form-field class="full-width"  appearance = "outline">
                <mat-label>Notes</mat-label>
                <input  [(ngModel)] = "keypass.notes" name = "notes" matInput placeholder="notes:">
              </mat-form-field>
                <div class = "container text-center">
              <button mat-raised-button color="primary">Registrar</button>
              <button mat-raised-button color="primary" (click)="onBack()">  Back</button>
             
 <!--             <button type="reset" style = "margin-left: 20px;" mat-raised-button color="accent">Limpiar</button>    -->
            </div>
          </form>
          <br><br><br>
        </div>
      </div>
    </div>
  </div>
  