<div class = "bootstrap-wrapper">
    <div class = "container">
      <div class = "row" style = "margin-top : 20px;">
        <div class = "col-md-6 offset-md-3">
          <div class="container text-center">
            <img src="../../../assets/Sequence_Open_24.svg" width = "100" height = "100">
          </div>
  
          <h1 class="text-center">Enter company information here</h1>
  
          
          <form>
            <input type="file" class="file-input"
                  (change)="onFileSelected($event)" #fileUpload>

            
  
            <mat-form-field class="full-width"  appearance = "outline">
              <mat-label>Company Name</mat-label>
              <input required [(ngModel)] = "enterprise.name" name = "companyName" matInput placeholder="Company name:">
            </mat-form-field>
  
            <mat-form-field class="full-width"  appearance = "outline">
              <mat-label>Project Leader</mat-label>
              <input required [(ngModel)] = "enterprise.projectLeader" name = "projectLeader" matInput placeholder="Project Leader">
            </mat-form-field>
            <mat-form-field class="full-width"  appearance = "outline">
              <mat-label>Other information</mat-label>
              <input [(ngModel)] = "enterprise.other_information" name = "otherinformation" matInput placeholder="Other Information">
            </mat-form-field>
<!--            <mat-form-field class="full-width"  appearance = "outline">
              <mat-label>file path</mat-label>
              <input type="hidden" [(ngModel)] = "enterprise.filePath" name = "filePath" matInput placeholder="file Path" readonly>
            </mat-form-field>
-->
            <div class="file-upload">

              upload file: {{fileName || enterprise.filePath}}

              
            </div>
            <div class = "container text-center">
              <button mat-raised-button color="primary" style = "margin-left: 20px;" (click)="formSubmit()">Registrar</button>
              <button mat-raised-button color="primary" style = "margin-left: 20px;" class="upload-btn"
                  (click)="fileUpload.click()">
                    <mat-icon>attach_file</mat-icon>
                </button>
            </div>
          </form>
          <br><br><br>
        </div>
      </div>
    </div>
  </div>
  