<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">
                Lab informatics users and passwords repository
            </h1>
            <h3 class="text-center">
                Created by Gerardo Loeches & Ana Pica
            </h3>
        </div>
    </div>
    <div class="row">
      <div class="col-12 mt-1 text-center">
         <h4>Create a new account  : 
            <button type="button" class="btn btn-primary">Sign up</button>
        </h4>
      </div>
    </div>
    <div class="row">
        <div class="col-12 mt-1 text-center"> 
         <h4>loggin to your account:
          <button type="button" class="btn btn-primary" (click)="sendToLogin()">Sign in</button>
        </h4>
        </div>
      </div>

    <div class="row">
      <div class="col-sm-8">
        <img src="../../../assets/openlab01.svg" class="img-fluid rounded float-start" alt="...">
      </div>
      <div class="col-sm-4">
        <img src="../../../assets/chemistry01.svg" class="img-fluid rounded float-end" alt="...">
      </div>
    </div>
  </div>
