<h2>List of Enterprises</h2>
<div>
    <label for="Company Name">Company Name: </label>
    <input id="Company Name" #enterpriseName>
    <button type ="button" (click)="getEnterprisesLikeName(enterpriseName.value)">
        <span> Filter by name</span>
    </button>
</div>
<div *ngIf="selectedEnterprise">
    <h2>{{selectedEnterprise.name | uppercase}} Details</h2>
    <div>id: {{selectedEnterprise.id}}</div>
    <div>
      <label for="Company Name">Company Name: </label>
      <input id="Company Name" [(ngModel)]="selectedEnterprise.name" placeholder="name">
    </div>
    <div>
        <label for="Company Leader">Company Leader: </label>
        <input id="Company Leader" [(ngModel)]="selectedEnterprise.projectLeader" placeholder="name">
      </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Company Name</th>
            <th>Project leader</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let enterprise  of enterprises">
            <td>{{ enterprise.id }}</td>
            <td>{{ enterprise.name }}</td>
            <td>{{ enterprise.projectLeader }}</td>
            <td>
                <a href="#" [routerLink]="['/enterprises/',enterprise.id,'keypass']" class="btn btn-info">View</a>
            </td>
        </tr>
    </tbody>
</table>

