<h2>List of Enterprises</h2>
<div class="d-flex justify-content-center p-2 bd-highlight">
    <div class="p-2">
        <label for="Company Name">Company Name: </label>
    </div>
    <div class="p-2">
        <input id="Company Name" #enterpriseName>
    </div>
    <div class="p-1">
        <button class="btn btn-info p-2" type ="button" (click)="getEnterprisesLikeName(enterpriseName.value)">
            <span> Filter by name</span>
        </button>
    </div>
    <div class="p-1">
        <button class="btn btn-info p-2" type ="button" (click)="createEnterprise()">
            <span> Create Enterprise</span>
        </button>
    </div>
   
</div>
<div *ngIf="selectedEnterprise">
    <h2>{{selectedEnterprise.name | uppercase}} Details</h2>
    <div>id: {{selectedEnterprise.id}}</div>
    <div>
      <label for="Company Name">Company Name: </label>
      <input id="Company Name" [(ngModel)]="selectedEnterprise.name" placeholder="name">
    </div>
    <div>
        <label for="Company Leader">Company Leader: </label>
        <input id="Company Leader" [(ngModel)]="selectedEnterprise.projectLeader" placeholder="name">
      </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th data-field="ID" data-width="100">ID</th>
            <th data-field="nane" data-width="50">Company Name </th>
            <th>Project leader</th>
            <th>Company</th>
            <th>Keypass</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let enterprise  of enterprises">
            <td>{{ enterprise.id }}</td>
            <td data-field="nane" data-width="50">{{ enterprise.name }}</td>
            <td>{{ enterprise.projectLeader }}</td>
            <td> 
                <a href="#" [routerLink]="['/enterprises/',enterprise.id,'keypass']" class="patata"><i class="material-icons" data-toggle="tooltip" title="edit Company">edit </i></a>
            </td>
            <td>
 <!--              <a href="#" [routerLink]="['/enterprises/',enterprise.id,'keypass']" class="btn btn-info">View</a>
                <a href="#" [routerLink]="['/enterprise/',enterprise.id,'createKeypass']" class="btn btn-info">Add Key</a>   --> 
                <a href="#" [routerLink]="['/enterprises/',enterprise.id,'keypass']" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="View list of keypass">visibility</i></a>
               
                <a href="#" [routerLink]="['/enterprises/',enterprise.id,'createkeypass',0]" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Add keypass">add_to_photos</i></a>
            </td>
        </tr>
    </tbody>
</table>

